<script setup>
  import { ref } from 'vue';
  const contadorRojo = 'color: red;';
  const contadorVerde = 'color: green;';
  const counter = ref(0);
  
  const increment = () => {
    console.log(counter);
    counter.value++;
  }
  const decrement = () => {
    console.log(counter);
    counter.value--;
  }
  const reset = () => {
    console.log(counter);
    counter.value = 0;
  }
</script>

<template>
  
  <button @click="increment">Aumentar</button>
  <button @click="decrement">Disminuir</button>
  <button @click="reset">Reset</button>
  <h1 v-if="counter < 0" :style="contadorRojo">{{ counter }}</h1>
  <h1 v-else-if="counter > 0" :style="contadorVerde">{{ counter }}</h1>
  <h1 v-else>{{ counter }}</h1>
</template>

<style>
h1{
  font-size: 2.5rem;
  color: blueviolet;
}
</style>