<script setup>
  import { ref, computed } from 'vue';
  const contadorRojo = 'color: red;';
  const contadorVerde = 'color: green;';
  const counter = ref(0);
  
  const increment = () => {
    counter.value++;
  }
  const decrement = () => {
    counter.value--;
  }
  const reset = () => {
    counter.value = 0;
  }

  // PROPIEDADES COMPUTADAS:
  const classCounter = computed(() => {
    if(counter.value === 0)
      return '';
    if(counter.value < 0)
      return 'redColor';
    if(counter.value > 0)
      return 'greenColor';
  });

  const arrayNumbers = ref([]);
  const addNumber = () => {
    arrayNumbers.value.push(counter.value);
    console.log(arrayNumbers);
  };
  const disabledAddNumber = computed(() => {
    return arrayNumbers.value.includes(counter.value);
  });

</script>

<template>
  
  <h1 :class="classCounter">{{ counter }}</h1>
  <br>

  <button @click="increment">Aumentar</button>
  <button @click="decrement">Disminuir</button>
  <button @click="reset">Reset</button>
  <button @click="addNumber" :disabled="disabledAddNumber"> Agregar</button>
  <br>
  
  <li v-for="(number, index) in arrayNumbers" key="index">
    <span>{{ number }}</span>
  </li>
</template>

<style>
h1{
  font-size: 2.5rem;
  color: blueviolet;
}
.redColor{
  color: red;
}
.greenColor{
  color: green;
}
</style>